@{
    ViewBag.Title = "Order Submitted";
}

<div class="container mod_shipping" ng-controller="ShippingController">
    <div class="container">
        <h2>Thanks!</h2>
        Thanks for placing your order. We'll ship your goods as soon as possible.
    </div>
</div>


